// Override Bootstrap variables or add your custom styles here
$navbar-dark-bg: #35363a;
$navbar-dark-hover-color: #ffc107;
$navbar-dark-color: #fff;
$navbar-dark-active-color: #ffc107;
$search-form-bg: #ffffff;
$search-form-border-color: #ffc107;
$login-btn-bg: #ffc107;
$register-btn-border: #ffc107;
$register-btn-bg: #35363a;

header {
    background-color: $navbar-dark-bg;
    .navbar {
        color: $navbar-dark-color;
        .bg-dark {
            background-color: $navbar-dark-bg;
        }

        .nav-link {
            margin-right: 15px;
            color: $navbar-dark-color;

            &:hover {
                color: $navbar-dark-hover-color;
            }

            &.active {
                color: $navbar-dark-active-color;
            }
        }

        @media (max-width: 576px) {
            padding-top: 0;

            .navbar-brand {
                margin-right: 0; // Remove margin for the brand/logo
            }

            .navbar-nav {
                margin-top: 10px; // Add some top margin to the navbar items
                text-align: center; // Center-align navbar items
            }

            .nav-item {
                margin-bottom: 10px; // Add some bottom margin to each navbar item
            }

            .register-btn .login-btn {
                padding: 0.25rem 0.5rem; // Adjust padding for small buttons
                font-size: 14px; // Set font size for small buttons
            }

            // Custom font size for nav-links
            .navbar-nav .nav-link {
                font-size: 14px;
            }

            // Custom font size for form elements in navbar
            .navbar-form .form-control {
                font-size: 14px;
            }
        }

        @media (max-width: 1024px) {
            /* Adjust the styles for the Navbar content */
            .navbar-nav .nav-link {
                font-size: 14px; /* Adjust the font size */
                // padding: 8px 10px; /* Adjust the padding */
            }

            .register-btn .login-btn {
                padding: 0.25rem 0.5rem; // Adjust padding for small buttons
                font-size: 14px; // Set font size for small buttons
            }

            // Custom font size for form elements in navbar
            .navbar-form .form-control {
                font-size: 14px;
            }
        }
    }
}

.navbar-form {
    // Set styles for the search form
    .form-control {
        // Set the background color for the search form
        background-color: $search-form-bg;

        // Set the border color for the search form
        border-color: $search-form-border-color;

        // Add other styles as needed
    }
}

.login-btn {
    // Set styles for the login button
    background-color: $login-btn-bg;
}

.register-btn {
    color: $navbar-dark-color;
    border: 1px solid $register-btn-border;
    background-color: $register-btn-bg;
    &:hover {
        color: $navbar-dark-color;
        background-color: #ffc107;
    }
}
